---
title: Home
redirect_from:
  - /screenshots/
---

{% include header.html %}

<div class="jumbotron">
  <div class="center">
    <h1>Meet Minetest.</h1>
    <h3>A free, open source voxel game engine and game. Fully extendable. You are in control.</h3>
    <p><a class="btn btn-primary btn-lg" href="why.html">Why Minetest?</a> <a class="btn btn-success btn-lg" href="//minetest.net/downloads/">Download</a></p>
    <p><small><strong>NOTICE:</strong> Download goes to official Minestest site.</small></p>
  </div>
</div>

<div class="content">
  <h1 id="about">About</h1>
<p>MPI is a group about getting people to play FOSS games. Minetest is a great subject for this.
We are showcasing mods, showing people why they should play FOSS games, and encouraging a more open-source future.<br>
Join us at <a src="https://forum.minetest.net/viewtopic.php?f=3&t=14015&p=206747#p206747">minetest fourm post</a> if you want to join.<br>
You can play our server @ Doopy The Server. All of our showcased mods are installed there.</p>

</div>

{% include footer.html %}
